body {
    padding-top: 0;
    padding-bottom: 0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.block{
   float:left;
   height:200px;
   width:200px;
   background-color:red;
   display: block;

}

.block.blue{
    background-color:blue;
}

.block.green{
    background-color:green;
}


.block.negativeOne {
    background-color:#006600;
}
 
.block.negativeTwo {
    background-color:#009900;
}
 
.block.negativeThree {
    background-color:#00CC00;
}
 
.block.neutralFour {
    background-color:#00FF00;
}
 
.block.neutralFive {
    background-color:#99FF00;
}
 
.block.neutralSix {
    background-color:#99cc00;
}
 
.block.positiveSeven {
    background-color:#999900;
}
 
.block.positiveEight {
    background-color:#996600;
}
 
.block.positiveNine {
    background-color:#993300;
}
 
.block.positiveTen {
    background-color:#990000;
}